/* -------------------------
   TIPOGRAFÍA GENERAL
---------------------------*/
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333333;
}

/* -------------------------
   HEADINGS
---------------------------*/
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: #00369f; /* color principal */
}

h2 {
     font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #00369f;
}

h3 {
    font-size: 1.75rem;
    font-weight: 500;
    color: #00369f;
}

h4 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #00369f;
}

h5 {
    font-size: 1.25rem;
    font-weight: 500;
    color: #00369f;
}

h6 {
    font-size: 1rem;
    font-weight: 500;
    color: #00369f;
}

/* -------------------------
   PÁRRAFOS Y ENLACES
---------------------------*/
p {
    font-size: 1rem;
    /*font-weight: 600;*/
    color: #050708;
}

a {
    font-weight: 00;
    text-decoration: none;
    color: #1a73e8;
    transition: color 0.3s;
}

a:hover {
    color: #0c47b7;
}

/* -------------------------
   CLASES DE COLOR
---------------------------*/
.txt-primary {
    color: #1a73e8 !important;
}

.txt-secondary {
    color: #6c757d !important;
}

.text-dark {
    color: #333333 !important;
}

.text-warning {
    color: #ffc107 !important;
}

/* -------------------------
   SLIDERS Y CARDS
---------------------------*/
.slider-card h6,
.card-body-custom h6 {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0.5rem 0 0 0;
}

.card-body-custom span {
    font-size: 0.9rem;
    font-weight: 400;
}

/* -------------------------
   DETALLES DE PRODUCTO
---------------------------*/
.hero-content h1,
.detalle h1 {
    font-size: 2rem;
    font-weight: 700;
}

.detalle p,
.detalle span {
    font-size: 1rem;
    font-weight: 400;
}

/* -------------------------
   FOOTER
---------------------------*/
footer h5 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

footer p,
footer span {
    font-size: 0.9rem;
    font-weight: 400;
    color: #dddddd;
}

footer a {
    color: #ffffff;
}

footer a:hover {
    color: #ffc107;
}

/* -------------------------
   RESPONSIVE
---------------------------*/
@media (max-width: 767px) {
    h1 { font-size: 2rem; }
    h2 { font-size: 1.75rem; }
    h3 { font-size: 1.5rem; }
    h4 { font-size: 1.25rem; }
    h5 { font-size: 1.1rem; }
    h6 { font-size: 1rem; }

    p, span, a {
        font-size: 0.95rem;
    }
}
