{% extends "layout.html" %}

{% block title %}{{ item.title }}{% endblock %}

{% block content %}
<div class="detalle-nav d-flex justify-content-center mt-2">
    <a href="{{ url_for('inicio') }}#individuales" class="detalle-link mx-3 text-decoration-none text-dark">
        <i class="bi bi-person-fill fs-5"></i>
        <div>Individuales</div>
    </a>
    <a href="{{ url_for('inicio') }}#combos-duos" class="detalle-link mx-3 text-decoration-none text-dark">
        <i class="bi bi-people-fill fs-5"></i>
        <div>Combos Duos</div>
    </a>
    <a href="{{ url_for('inicio') }}#combos-trios" class="detalle-link mx-3 text-decoration-none text-dark">
        <i class="bi bi-people fs-5"></i>
        <div>Combos Trios</div>
    </a>
</div>

<div class="container mt-3 detalle-container">
    <div class="row">
        <!-- Columna izquierda: imagen -->
        <div class="col-md-5 text-center ">
            <div class="detalle-img-wrapper border border-1 rounded">
                <img src="{{ url_for('static', filename=item.image) }}" class="img-fluid rounded"
                    alt="{{ item.title }}">
            </div>
        </div>

        <!-- Columna derecha: información -->
        <div class="col-md-7 border border-1 rounded p-4 detalle-info">
            <h2>{{ item.title }}</h2>
            <div class="text-dark">
                <i class="bi bi-star-fill fs-5 text-warning"></i>
                <i class="bi bi-star-fill fs-5 text-warning"></i>
                <i class="bi bi-star-fill fs-5 text-warning"></i>
                <i class="bi bi-star-fill fs-5 text-warning"></i>
                <i class="bi bi-star-fill fs-5 text-warning"></i>
            </div>
            <p><strong>Código:</strong> {{ item.code }}</p>
            <p style="white-space: pre-line;"><strong>Descripción:</strong> {{ item.description }}</p>
            <p><strong>Precio:</strong> {{ item.price }}</p>
            <div class="mt-3 mb-2">
                <a href="{{ url_for('inicio') }}" class="btn btn-primary">Volver</a>
            </div>
        </div>
    </div>
</div>



{% if relacionados %}
<div class="text-center mt-5 mb-5">
    <h3>Productos Relacionados</h3>
    <p>También te podrían interesar</p>
</div>

<div class="slider-container mb-5 relacionados-wrapper">
    <button class="slider-btn prev" aria-label="Anterior">
        <i class="bi bi-chevron-left"></i>
    </button>

    <div class="slider-wrapper">
        <div class="slider-track" data-slider>

            {% for rel in relacionados %}
            <div class="card slider-card">

                <a href="{{ url_for('detalle', tipo=tipo, item_id=rel['id']) }}" class="text-decoration-none text-dark">

                    <!-- Imagen -->
                    <div class="card-image position-relative">

                        {% if rel.get("ahorro") %}
                        <span class="save-badge">
                            Ahorra C${{ rel["ahorro"] }}
                        </span>
                        {% endif %}

                        <span class="platform-name-overlay">
                            {{ rel["title"] }}
                        </span>

                        <img src="{{ url_for('static', filename=rel['image']) }}" alt="{{ rel['title'] }}">
                    </div>

                    <!-- Body -->
                    <div class="card-body-custom">

                        

                        <!-- Precio -->
                        <div class="price-container">

                            {% if rel.get("price_original") %}
                            <div class="old-price fs-5 fw-bold">
                                {{ rel["currency"] }} {{ rel["price_original"] }}
                            </div>
                            {% endif %}

                            <div class="current-price">
                                <span class="price-amount fs-5 fw-bold">
                                    {{ rel["currency"] }} {{ rel["price"] }}
                                </span>
                                <span class="price-period">
                                    /{{ rel["period"] }}
                                </span>
                            </div>

                        </div>
                        <div class="stars mb-2">
                            <i class="bi bi-star-fill text-warning  fs-5"></i>
                            <i class="bi bi-star-fill text-warning  fs-5"></i>
                            <i class="bi bi-star-fill text-warning  fs-5"></i>
                            <i class="bi bi-star-fill text-warning  fs-5"></i>
                            <i class="bi bi-star-fill text-warning  fs-5"></i>
                        </div>

                    </div>
                </a>
            </div>
            {% endfor %}

        </div>
    </div>

    <button class="slider-btn next" aria-label="Siguiente">
        <i class="bi bi-chevron-right"></i>
    </button>
</div>

<div class="slider-dots mb-5" data-dots></div>
{% endif %}


{% endblock %}