{% extends "layout.html" %}
{% block title %} Inicio {% endblock %}
{% block content %}
<section class="hero">
    
    <div class="hero-content">
        <h1>Elige tu plataforma favorita y comienza hoy</h1>
        <h2>Compra fácil, acceso inmediato y sin complicaciones</h2>
        <p>Perfiles premium • Activación rápida • Soporte confiable</p>
    </div>
</section>

<div id="individuales" class="text-center mt-5 mb-4">
    <h1>Plataformas Individuales</h1>
    <p>Elije tu favorita</p>
</div>

<div class="slider-container">

    <!-- Flecha izquierda -->
    <button class="slider-btn prev" aria-label="Anterior">
        <i class="bi bi-chevron-left"></i>
    </button>

    <!-- Slider -->
    <div class="slider-wrapper">
        <div class="slider-track" data-slider>
            
            {% for platform in platforms %}
            <div class="card slider-card">
                <i class="bi bi-cart4 cart-top-icon"></i>
                <a href="{{ url_for('detalle', tipo='platform', item_id=loop.index0) }}">
                    <div class="card-image rounded-4">
                        <img src="{{ url_for('static', filename=platform.image) }}" alt="{{ platform.title }}">
                    </div>
                    <div class="card-body-custom">
                        
                        <div >
                            <i class="bi bi-star-fill text-warning fs-5"></i>
                            <i class="bi bi-star-fill text-warning fs-5"></i>
                            <i class="bi bi-star-fill text-warning fs-5"></i>
                            <i class="bi bi-star-fill text-warning fs-5"></i>
                            <i class="bi bi-star-fill text-warning fs-5"></i>
                        </div>
                         <h6 class="fs-5 fw-bold">{{ platform.price }}</h6>
                        <span class="fs-5">{{ platform.title }}</span>
                       
                        
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Flecha derecha -->
    <button class="slider-btn next" aria-label="Siguiente">
        <i class="bi bi-chevron-right"></i>
    </button>
</div>

<!-- Dots -->
<div class="slider-dots" data-dots></div>


<div id="combos-duos" class="text-center mt-5 mb-4">
    <h1>Combos Dúos</h1>
    <p>Porque dos son mejor que uno.</p>
</div>

<div class="slider-container mb-5">

    <!-- Flecha izquierda -->
    <button class="slider-btn prev" aria-label="Anterior">
        <i class="bi bi-chevron-left"></i>
    </button>

    <!-- Slider -->
    <div class="slider-wrapper">
        <div class="slider-track" data-slider>
            {% for combosDuo in combosDuos %}
            <div class="card slider-card">
                <i class="bi bi-cart4 cart-top-icon"></i>
                <a href="{{ url_for('detalle', tipo='combosDuo', item_id=loop.index0) }}">
                    <div class="card-image rounded-4">
                        
                        <img src="{{ url_for('static', filename=combosDuo.image) }}"
                             alt="{{ combosDuo.title }}">
                    </div>

                    <div class="card-body-custom">
                        
                        <div >
                            <i class="bi bi-star-fill text-warning fs-5"></i>
                            <i class="bi bi-star-fill text-warning fs-5"></i>
                            <i class="bi bi-star-fill text-warning fs-5"></i>
                            <i class="bi bi-star-fill text-warning fs-5"></i>
                            <i class="bi bi-star-fill text-warning fs-5"></i>
                        </div>
                        <h6 class="fs-5 fw-bold">{{ combosDuo.price }}</h6>
                        <span class="fs-5">{{ combosDuo.title }}</span>
                        
                        
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Flecha derecha -->
    <button class="slider-btn next" aria-label="Siguiente">
        <i class="bi bi-chevron-right"></i>
    </button>
</div>

<!-- Dots -->
<div class="slider-dots mb-5" data-dots></div>



<div id="combos-trios" class="text-center mt-5 mb-4">
    <h1>Trial</h1>
    <p>Hombre precavido vale x3</p>
</div>

<div class="slider-container mb-5">

    <!-- Flecha izquierda -->
    <button class="slider-btn prev" aria-label="Anterior">
        <i class="bi bi-chevron-left"></i>
    </button>

    <!-- Slider -->
    <div class="slider-wrapper">
        <div class="slider-track" data-slider>
            {% for combotres in combosTrios %}
            <div class="card slider-card ">
                <a href="{{ url_for('detalle', tipo='combotres', item_id=loop.index0) }}">
                    <div class="card-image">
                        <img src="{{ url_for('static', filename=combotres.image) }}"
                             alt="{{ combotres.title }}">
                    </div>

                    <div class="card-body-custom">
                        <h6 class="fs-5 fw-bold">{{ combotres.price }}</h6>
                        <div >
                            <i class="bi bi-star fs-5"></i>
                            <i class="bi bi-star fs-5"></i>
                            <i class="bi bi-star fs-5"></i>
                            <i class="bi bi-star fs-5"></i>
                            <i class="bi bi-star fs-5"></i>
                        </div>
                        <span class="fs-5 ">{{ combotres.title }}</span>
                        
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Flecha derecha -->
    <button class="slider-btn next" aria-label="Siguiente">
        <i class="bi bi-chevron-right"></i>
    </button>

</div>

<!-- Dots -->
<div class="slider-dots mb-5" data-dots></div>


<section class="contract-steps">
    <div class="container-fluid">
        <h2 class="text-center mb-4">Contratación en 3 pasos</h2>
        <div class="row g-4">
            <!-- Paso 1 -->
            <div class="col-md-4">
                <div class="step-banner">
                    <img src="{{ url_for('static', filename='imagenes/Paso1.svg') }}" alt="Paso 1">

                </div>
            </div>

            <!-- Paso 2 -->
            <div class="col-md-4">
                <div class="step-banner">
                    <img src="{{ url_for('static', filename='imagenes/Paso2.svg') }}" alt="Paso 2">
                </div>
            </div>

            <!-- Paso 3 -->
            <div class="col-md-4">
                <div class="step-banner">
                    <img src="{{ url_for('static', filename='imagenes/Paso3.svg') }}" alt="Paso 3">
                </div>
            </div>

        </div>
    </div>
</section>


{% endblock %}